:root{
  --main-color: #333333;
  --blue: #81B3D2;
  --blue-medium: #669EC0;
  --blue-dark: #5496BD;
  --white-transp-05: rgba(100, 100, 100, 0.5);
  --black-transp-03: rgba(0, 0, 0, 0.3);
  --bcg-silver: #EEEEEE;
  --main-silver: #F2F2F2;
  --silver: #cacaca;
  --brovn: #766357;
  --brown-medium: #604E43;
  --brown-dark: #503E33;
  --brown-megadark: #503E33;
  --block-color: #6A6A6A;
  --black: #000000;
  --white: #ffffff;
}

.page{
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 21px;
  text-align: center;
  color: black;
  background-color: var(--main-silver);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper{
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.menu_item {
  line-height: 26px;
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
  margin: 0;
}

.menu_item:hover,
.menu_item:focus {
  color: var(--blue);
}

.menu_item:active {
  color: var(--black);
  opacity: 0.3;
}

.active_item {
  color: var(--brovn);
}

.heading_black {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  font-weight: bold;
  margin: 0;
}

.heading_form_white {
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  background-color: var(--brovn);
  margin: 0;
}

.heading_form_white:hover,
.heading_form_white:focus {
  background-color: var(--brown-medium);
}

.heading_form_white:active {
  color: var(--white-transp-05);
  background-color: var(--brown-megadark);
}

.features_heading_white {
  font-size: 21px;
  line-height: 21px;
  color: var(--white);
  font-weight: bold;
  margin: 0;
}

.features_heading_black {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

.text_normal {
  color: var(--black);
  text-decoration: none;
  margin: 0;
}

.text_white {
  color: var(--white);
  margin: 0;
}

.big_heading {
  font-size: 26px;
  line-height: 26px;
  color: var(--black);
  font-weight: bold;
}

.result_heading {
  font-size: 21px;
  color: var(--black);
  line-height: 26px;
  font-weight: bold;
}

.sort_heading {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
}

.sorting_item {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  opacity: 0.3;
  border-bottom: 2px dotted var(--blue);
}

.sorting_item:hover,
.sorting_item:focus {
  color: var(--blue-dark);
  opacity: 1;
}

.sorting_item:active {
  color: var(--black);
  border-bottom: none;
}

.sort_active {
  border-bottom: none;
  color: var(--blue);
  opacity: 1;
}
.sort_up {
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid var(--silver);
}

.sort_up:hover,
.sort_up:focus {
  border-bottom: 9px solid var(--black);
}

.sort_up:active {
  border-bottom: 9px solid var(--blue);
}

.sort_down {
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid var(--silver);
}

.sort_down:hover,
.sort_down:focus {
  border-top: 9px solid var(--black);
}

.sort_down:active {
  border-top: 9px solid var(--blue);
}

.down_active {
  border-top: 9px solid var(--blue);
}

.up_active {
  border-bottom: 9px solid var(--blue);
}

.hotel_name {
  font-size: 21px;
  color: var(--black);
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.hotel_name:hover,
.hotel_name:focus {
  color: var(--blue);
}

.hotel_name:active {
  color: var(--black-transp-03);
}

.hotel_info_btn {
  font-weight: bold;
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
}

.hotel_info_btn:hover,
.hotel_info_btn:focus {
  background-color: var(--blue-dark);
}

.hotel_info_btn:active {
  color: var(--white-transp-05);
}

.hotel_reserve_btn {
  font-weight: bold;
  color: var(--white);
  background-color: var(--brovn);
  text-decoration: none;
}

.hotel_reserve_btn:hover,
.hotel_reserve_btn:focus {
  background-color: var(--brown-dark);
}

.hotel_reserve_btn:active {
  color: var(--white-transp-05);
}

.rate_block {
  background-color: var(--bcg-silver);
}
/* _____________________________________________
                  Элементы сетки
________________________________________________
 */

.big_item {
  background-color: var(--blue);
}

.small_item{
  background-color: var(--bcg-silver);
}

.list-style_none {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site_nav_list {

}

.features_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features_sublist {

}

.sort_list {

}

.result_list {

}

.list_star {

}

/*====VISUALLY HIDDEN======*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
